.prism-theme .callout[data-callout="examples"] > .callout-title {
    color: var(--color-green-text);
    background-color: var(--color-green-base);
    border-color: var(--color-green-tint);
}

.prism-theme .callout[data-callout="examples"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-green-text);
}

.prism-theme .callout[data-callout="examples"] > .callout-content {
    background-color: hsla(var(--color-green-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-green-tint);
}

.callout[data-callout="examples"] {
    --callout-icon: lucide-plus-circle;
    --callout-color: 0, 255, 0; /* Default colour customisation option used by Obsidian for Callouts. Comma separated RGB values is the format used. Keep this as a fallback when switching to another theme. */
}

.prism-theme .callout[data-callout="proof"] > .callout-title {
    color: var(--color-mint-text);
    background-color: var(--color-mint-base);
    border-color: var(--color-mint-tint);
}

.prism-theme .callout[data-callout="proof"] > .callout-title .callout-icon .svg-icon {
    color: var(--color-mint-text);
}

.prism-theme .callout[data-callout="proof"] > .callout-content {
    background-color: hsla(var(--color-mint-base-hsl), var(--callout-background-alpha));
    border-color: var(--color-mint-tint);
}

.callout[data-callout="proof"] {
    --callout-icon: lucide-verified;
    --callout-color: 85, 250, 152; /* Default colour customisation option used by Obsidian for Callouts. Comma separated RGB values is the format used. Keep this as a fallback when switching to another theme. */
}